/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: chocolate;
}
/* heading */
  .heading h1 {
	color: #fff;
	text-align: center;
	margin: 40px 0px;
	letter-spacing: 3px;
	font-weight: 600;
	text-transform: capitalize;
}
.heading p {
	text-align: center;
	color: #fff;
	letter-spacing: 2px;
	font-size: 24px;
	text-transform: capitalize;
}
/* heading */
/* books-container */
#books-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}
/* books-container */
/* books-details */
.book-details {
	background: chartreuse;
}
.book-details {
  padding: 10px;
}
.book-details img {
  width: 100%;
}
/* books-details */